/shelf/
/workspace.xml
.idea/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.git/
.DS_Store
Thumbs.db
/task.txt
/data/
/runs/
/config/telegram_config.yaml
/tests/
/captured_images/
